.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__liveButton {
    background-color: transparent;
    color: teal;
    border: none;
    margin: 5px 0 0 20px;
    flex-basis: auto;
    transition: 1s;
}

.buttons__liveButton:hover {
    color: hsl(180, 100%, 35%);
}
.buttons__liveButton:disabled {
    color: rgb(128, 128, 128);
}